.container {
  background-color: #2b2a2a;
}

.button {
  background-color: #4caf50;
  color: #e0dbdb;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 5px;
}

.button:hover {
  background-color: #45a049;
}

.outputContainer {
  padding: 10px;
  color: #e0dbdb;
}